body {
    padding: auto; 
    font-size: 15pt;
    background-color: azure;
}
p {
  text-align: center;
  color:blue;
  text-shadow: 2px 2px 5px red;
}
h4 {
  color: blue;
  text-shadow: 2px 2px 5px blue;
}
h1 {
  text-align: center;
  font-family: 'Dancing Script', cursive;
  font-size: 80px;
  margin-bottom: 30px;
}

h3,
p {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 30px;
}
#cap {
     background-color: lightgrey ;
     font-size: auto ;
     color: hotpink;
     text-shadow: 2px 2px 5px blue;
     align-self: center;
     text-justify: auto ;
     
     }
.ttable {
    display: table;
    text-align: center;
    width: 60%;
    margin: 10% auto 0;
    border: 1px solid black;
    border-collapse: separate;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;

}
.ttable tr:nth-of-type(even){
   
    background-color:rgba(47, 199, 199, 0.418);

}
 
