body {
    padding: auto; 
    font-size: 15pt;
    background-color: azure;
}
ul {
  border: box ;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: grey;
}

.active {
  background-color: seagreen;
}
p {
  text-align: center;
  color:blue;
  text-shadow: 2px 2px 5px red;
}
h4 {
  color: blue;
  text-shadow: 2px 2px 5px blue;
}
h1 {
  text-align: center;
  font-family: 'Dancing Script', cursive;
  font-size: 80px;
  margin-bottom: 30px;
}

h3,
p {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 30px;
}
#cap {
     background-color: lightgrey ;
     font-size: auto ;
     color: hotpink;
     text-shadow: 2px 2px 5px blue;
     align-self: center;
     text-justify: auto ;
     
     }
.ttable {
    display: table;
    text-align: center;
    width: 60%;
    margin: 10% auto 0;
    border: 1px solid black;
    border-collapse: separate;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;

}
.ttable tr:nth-of-type(even){
   
    background-color:rgba(47, 199, 199, 0.418);

}



.footer {
  text-align: center;
  display: flex;
  flex-flow: row wrap;
  padding: 30px 30px 20px 30px;
  color: #2f2f2f;
  background-color: azure;
  border-top: auto solid #e5e5e5;
}


.footer__addr {
  text-align: center ;
  margin-right: 1.25em;
  margin-bottom: 2em;
}

.footer__logo {
  text-align: center ;
  font-family: 'Pacifico';
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1.5rem;
}

.footer address {
  text-align: center ;
  color: #999;
}

.footer__btn {
  text-align: center;
  justify-content: center;
  height: 36px;
  background-color: rgb(33, 33, 33, 0.07);
  border-radius: 100px;
  color: #2f2f2f;
  line-height: 0;
  margin: 0.6em 0;
  font-size: 1rem;
  padding: 0 1.3em;
}

.footerpp {
  text-align: center;
}
.legal {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  color: #999;
}
.copyright-text
{
  margin:0
}
